audioread==2.1.6
certifi==2022.12.7
chardet==3.0.4
Django==1.11.15
django-after-response==0.2.2
django-redis==4.9.0
djangorestframework==3.8.2
idna==2.7
numpy==1.15.0
PyAudio==0.2.11
pydub==0.22.1
pytz==2018.5
redis==4.5.3
requests==2.19.1
urllib3==1.23
